.container
  flex: 1
  backgroundColor: #fff
  alignItems: center
  justifyContent: center

.sheldon_img
  width: 256px
  height: 204px
  marginTop: 30
  marginBottom: 30

.helloTxt
  color: #888
  fontSize: 18
  marginHorizontal: 15
  // marginBottom: 10

.btn
  backgroundColor: blue
  padding: 20px
  borderRadius: 20px

.btnText
  fontSize: 30
  color: #fff
