// Global Styles

// Modules
@use "./constants" as gc
@use "./classes" as gcl

// Styles
@import "./centering"
@import "./text"


// Global Container Style
.container
  flex: 1
  flex-direction: column
  background-color: gc.$borderColor
  //padding: gc.$borderMargin // Inner Space
  //margin: 20px // Outer space
  //align-items: center
  justify-content: center
  //border-radius: gc.$borderRadius


// Buttons' styles
.btnContainer
  width: 20%
  flex: 1
  flex-direction: column
  align-items: center
  align-content: center
  justify-content: center
  background-color: transparent
  //padding: 20px
  //margin: 10px
  //border: 2px solid #f00

.btnClear
  @include gcl.btnClear(40%, 50%, 20px, 10px)