.container // FlatList
  flex: 1

.item // TouchableOpacity
  flex-direction: row
  width: 100%
  align-items: center
  justify-content: flex-start
  background-color: inherit
  // border: 2px solid #f00
  border-bottom-width: 1px
  // border-top-width: 0.5px
  border-color: #ccc


$verticalMargin: 3%
.text
  margin-top: $verticalMargin
  margin-bottom: $verticalMargin