$buttonContainerHeight: 40%

.imgContainer
  height: 100% - $buttonContainerHeight
  width: 100%
  align-items: center
  justify-content: center
  padding: 5%
  // border: 2px solid #f00

.btnContainer
  height: $buttonContainerHeight
  flex-direction: row
  width: 100%
  align-items: center
  justify-content: space-evenly
  // border: 2px solid #f00